footer ul.menu>li:before {
    content: "";
    background: url('/wp-content/uploads/2026/02/Engineering-Icon.png');
    background-size: contain;
    position: absolute;
    width: 15px;
    height: 15px;
    top: 7px;
    display: block !important;
    left: 0;
}

footer ul.menu li {
    display: block;
    padding-left: 18px;
}
footer ul.menu li a {
    display: inline-block;
}

footer ul.menu>li:after {
    content: "";
    display: none;
}

.page-id-11 #menu-footer ul.menu li a {
    color:black !important;
    text-decoration: none;
}

/* @media only screen and (min-width: 768px) {
    ul#menu-footer {
        column-count: 2;
    }
} */
/* @media only screen and (min-width: 1200px) {
    footer ul.menu li a {
        border: none;
        padding-left: 0;
    }
    footer ul.menu li:first-child {
    padding-top: 0;
}
} */